<div class="container">
    <h1>Current Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
          <div *ngFor='let quotes of quote;let i = index'>
            <div>
              <h6 > {{quotes.authorName}} </h6>
              <h6 >{{quotes.quoteDescription}} </h6>
              <h6 >{{quotes.userName}} </h6>
              <h6 >{{quotes.time}} </h6>
              <!-- <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button> -->
            </div>
            <!-- <app-quote-details></app-quote-details> -->
    
            <!-- <div *ngIf='quote.showDescription'>
              <app-goal-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-goal-detail>
            </div> -->
          </div>
        </div>
        <div class="col-md-6">
        <app-quote-form (addQuote)="createNewQuote($event)"></app-quote-form>
        </div>
     </div>
  
  
  
  
  
  
  
  
  
    <!-- <div class="row">
      <div class="col-md-6">
          <div>
            <h4 *ngFor= "let quotes of quote">{{quotes.quotetxt}}</h4>
          </div>
      </div>
  </div>
</div> -->