<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="authorName">Input Author Name:</label>
            <input type="text" class="form-control" id="authorName" [(ngModel)]="newQuote.authorName" name="authorName" #authorName='ngModel' required>
            <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
              <p>Author Name is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="quoteDescription">Enter Your Quote:</label>
            <textarea class="form-control" id="quoteDescription" rows="4" [(ngModel)]="newQuote.quoteDescription" name="quoteDescription" #quoteDescription="ngModel" required></textarea>
            <div [hidden]="quoteDescription.valid || quoteDescription.pristine" class="alert alert-danger">
              <p>You Must Enter a Quote to Submit</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="userName">Posted By:</label>
            <input type="text" class="form-control" id="userName" [(ngModel)]="newQuote.userName" name="userName" #userName='ngModel' required>
            <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
              <p>User Name is required</p>
            </div>
        </div><br>
       <button type="submit" class="btn btn-success">Post Quote</button>
    </form>
  </div>